body {
  background-color: #444;
  background-image: url(2762281be4e1d40038d6b500c50c9c88.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

